* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior:smooth;
}
#progress-bar {

            position: fixed;

            top: 0;

            left: 0;

            width: 100%;

            height: 5px;

            background-color: orange;
z-index: 1;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: rgb(183 12 0);
    color: white;
    position: fixed;
    width: 100%;
    /* height: 100px; */
    box-shadow: 0 0 12px black
}


h2{
    color: rgb(255, 255, 255);
}
nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-right: 100px;
    align-items: center;
}

.nav-links li {
    padding: 10px;
}
.nav-links li button{
    height: 50px;
    width: 150px;
    color: #000000;
}
img#logo{
    object-fit: contain;
    height: 70px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 18px;
    padding: 5px;
    transition: all 0.5s ease;
}

.nav-links a:hover {
    color: rgb(183 12 0);
    background-color: white;
    border-radius: 5px;
}

/* Hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    position: absolute;
    right: 20px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}
.second{
    width: 100%;
    height: auto;
}
.second img {
    width: 100%;
    /* height: 100vh; */
   object-fit: cover;
}
.about {
    text-align: center;
    padding: 20px;
    background-color: #03020c;
    padding-top: 100px;
    height: auto;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px; 
    color: rgb(237, 242, 244);
}

.about-content {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
}
.about-content .a-con{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.about-content img {
    max-width: 100%;
    height: auto;
}

.about-content p{
    max-width: 500px; 
    text-align: left;
    font-size: 32px;
    color: #fafffe;
    
}
.about-content .a-con .par{
    max-width: 500px; 
    text-align: left;
    font-size: 15px;
    color: #fafffe;
}

.fourth {
    width: 100%;
    height: auto;
}

.fourth .f1 {
    display: flex;
}

.fourth .nor {
    width: 50px;
    height: 25px;
    background-color: #dc0032;
    margin-top: 15px;
}

.fourth p {
   font-size: 40px;
}


.cardBox{
    width:100%;
    
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    align-items:center ;
    /* background-color: aliceblue; */
    /* color: white; */
}

.cardBox .card{
    width: 250px;
    height: 250px;
    background-color: black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cardBox .card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.a-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order{
    width: 150px;
    height: 50px;
    border-radius: 12px;
    background-color: indianred;
    border-radius: 11px;
    border: none;
}
.order:hover{
    scale: 110%;
    transition: 1s ;
}

.order a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.order a:hover{
    color: black;
}
/* Booking Section */
.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-t {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.book .button {
    background-color: #ffffff00;
    color: black;
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
   margin-top: 4%;
  }
  
  .book .button:hover {
    background-color: #3654ff;
    cursor: pointer;
  }
  
  .book .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .book .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }
  /* End of Booking Section */
.lt {
    text-align: center;
    margin-top: 15px;
}
 .qw{
    font-size: 3rem;
    text-align: center;
    margin-top: 28px;
}
.lt p{
    font-size: 3rem;
}
.lt .laal {
    color: indianred;
}

.akhr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;    
}

.akhr .ltn {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px;
}

.ltn img {
    width: 80px;
    height: 80px;
}

.ltn p {
    padding: 10px 0px;
    font-size: 10px;
    text-align: center;
}
.six{
    width: 100%;
}
.six .tst{
    text-align: center;

}
.six  .test{
    color: black;
    font-size: 2.5rem;
}
.six .rev{
    font-size: 3.5rem;
    color: orangered;
}
.t img{
    /* margin-left: 7%; */
    border-radius: 15px;
    width:450px;
    max-width: 100%;
    height: 250px;
    object-fit:cover ;
    margin-top: 35px;
}
.tst1{
    display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
}
.tst2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.tst3{
    display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
}
.t p{
    width:400px;
    font-size: 25px;
    padding-top: 10px;
    /* margin-left: 5%; */
    /* margin-top: 7%; */

}
.tst4{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.seven{
    width: 100%;
}
.partners{
    /* margin-top: 30px; */
    text-align: center;
    font-size: 60px;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    object-fit: contain;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.logos img{
    height: 150px;
    width: 150px;
    object-fit: cover;

}
.partners #coloe{
    color: orangered;
    ;
}

.news .subscribe{  
    margin-top:30px;
    text-align:center;
    font-size:60px;
    margin-bottom:4%;
}
.news .subscribe #sub{
    color: orangered;
}
.news #newsletter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url(img/b14.png);
    /* background-repeat: no-repeat; */
    background-position: 20% 30%;
    background-color: #000000;
    height: 160px;
    width: 100%;

  }
.news #newsletter h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
  }
.news #newsletter p {
    color: #818ea0;
    font-size: 14px;
    font-weight: 500;
  }
.news #newsletter p span {
    color: #ffbd27;
  }
.news #newsletter .form {
    display: flex;
    /* width: 30%;
    margin-right: 8%; */
    max-width: 100%;
    align-items: center;
    flex-wrap: nowrap;
  }
  .news #newsletter input {
    width: 100%;
    height: 50px;
    padding: 0 1.25rem;
    font-size: 12px;
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
   .news #newsletter button {
    background: #ff8000;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 53px;
    width: 100%;
    /* width: 200px; */
    /* max-width: 50%; */
  }
   .news #newsletter button:hover{
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
  }
  
.names{
    text-align: center;
    font-size: 1.5rem;
    margin-left: 25%;
    margin-bottom: 15%;
}
.loc{
    text-align: center;
    margin-left: 59.5%;
}
.atr{
    width: 100%;
    height: 100vh;
}
.foot .foot1{
    width: 100%;
    background-color: #236863;
    display: flex;
}
.category{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.foot{
    width: 100%;
    height: auto;
    background-color: black;
    border-bottom: 3px solid gray;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.foot .lol{
    color: gray;
    padding-top: 8%;
    /* margin-left:43%; */
}
.foot .lol:hover{
    color: white;
    cursor: pointer;
}
.lp{
    color: white;
    display: flex;
    /* margin-top: 5%; */
    justify-content: space-evenly;
   flex-wrap: wrap  ;
}
.lp .o1 p{
    padding-top: 25%;
    cursor: pointer;
}
.lp .o1 p:hover{
    color: orange;
}
.lp .o2 p{
    padding-top: 20%;
    cursor: pointer;
}
.lp .o2 p:hover{
    color: orange;
}
.lp .o3 p{
    padding-top: 30%;
    cursor: pointer;
}
.lp .o3 p:hover{
    color: orange;
}
.media .main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 30px 30px 0px 70px;
}

.media .main .up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.media .main .down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
  box-shadow: 1px 1px 0px #eeb1de, 2px 2px 0px #d365b6, 3px 3px 0px #d365b6,
    4px 4px 0px #d365b6, 5px 5px 0px #d365b6;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
  box-shadow: 1px 1px 0px #a1defa, 2px 2px 0px #41bef8, 3px 3px 0px #41bef8,
    4px 4px 0px #41bef8, 5px 5px 0px #41bef8;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
  box-shadow: 1px 1px 0px rgb(124, 123, 123), 2px 2px 0px #333, 3px 3px 0px #333,
    4px 4px 0px #333, 5px 5px 0px #333;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
  box-shadow: 1px 1px 0px #bdc2e2, 2px 2px 0px #9ca6e0, 3px 3px 0px #9ca6e0,
    4px 4px 0px #9ca6e0, 5px 5px 0px #9ca6e0;
}

.card4:hover .discord {
  fill: white;
}

.card1,
.card2,
.card3,
.card4 {
  box-shadow: 1px 1px 0px rgb(179, 175, 175), 2px 2px 0px rgb(179, 175, 175),
    3px 3px 0px rgb(179, 175, 175), 4px 4px 0px rgb(179, 175, 175),
    5px 5px 0px rgb(179, 175, 175);
}

@media(max-width:829px){
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(43, 45, 66);
        padding: 20px 0;
    }

    .nav-links li {
        text-align: center;
        padding: 15px 0;
        
    }

    .hamburger {
        display: flex;
    }

    #menu-toggle:checked + .hamburger + nav .nav-links {
        display: flex;
    }
    .news #newsletter{
        height: auto;
        padding: 30px;
    }
}
@media(max-width:430px){
    .news #newsletter {
        text-align: center;
    }
    .lp .o3 {
        display: none;
    }
    .book-t {
        /* width: 100%; */
        font-size: 25px;
    }
    .tst .rev{
        font-size: 25px;
    }
    .tst .test{
        font-size: 25px;
    }
    .t p {
        font-size: 15px;
    }
    .t img{
        width: 450px;
        height: 200px;
    }
    .news .subscribe {
        font-size: 30px;
    }
}
@media(max-width:300px){    
    /* .foot .lol{
        color: gray;
        padding-top: 7%;
        margin-left: 11%;
    }
    .lp{
        color: white;
        display: flex;
        margin-top: 5%;
        justify-content: space-evenly;
    }
    .lp .o1 p{
        padding-top: 25%;
    }
    .lp .o2 p{
        padding-top: 20%;
    }
    .lp .o3 p{
        padding-top: 30%;
    } */
}